body {
  font-family: "Poppins", sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 160px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(assets/Currency\ Converter\ logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.currency-converter-name {
  font-size: 40px;
}

.higher-section {
  height: 150px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.middle-section {
  height: 50px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lower-section {
  height: 50px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recalculate {
  font-family: "Poppins", sans-serif;
  background-color: white;
  width: 50px;
  height: 35px;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  font-size: 20px;
}

.select-currency {
  font-family: "Poppins", sans-serif;
  width: 65px;
  height: 35px;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  font-size: 20px;
}

.price {
  font-family: "Poppins", sans-serif;
  width: 200px;
  height: 30px;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  text-align: center;
  font-size: 20px;
}

.pln {
  font-size: 28px;
}
