.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.higher-section {
  height: 100px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle-section {
  height: 100px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lower-section {
  height: 100px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
